In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import sys

print(sys.version)

3.12.8 (tags/v3.12.8:2dc476b, Dec  3 2024, 19:30:04) [MSC v.1942 64 bit (AMD64)]

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [5]:
x = 5
y = "Hello, World!"

In [6]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [7]:
print("Hello, World!") #This is a comment

Hello, World!

In [8]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [9]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [10]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [11]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [12]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [13]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [14]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [15]:
x = "John"
# is the same as
x = 'John'

In [16]:
a = 4
A = "Sally"
#A will not overwrite a

In [19]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [20]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [21]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [22]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [23]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [24]:
x = "Python is awesome"
print(x)

Python is awesome

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [26]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [27]:
x = 5
y = 10
print(x + y)

15

In [28]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
x = 5
y = "John"
print(x, y)

5 John

In [30]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [31]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [32]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [33]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [34]:
x = 5
print(type(x))

<class 'int'>

In [35]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [36]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [37]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [38]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [39]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [40]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [41]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [42]:
import random

print(random.randrange(1, 10))

5

In [43]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [44]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [45]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [46]:
print("Hello")
print('Hello')

Hello
Hello

In [47]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [48]:
a = "Hello"
print(a)

Hello

In [49]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [50]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [51]:
a = "Hello, World!"
print(a[1])

e

In [52]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [53]:
a = "Hello, World!"
print(len(a))

13

In [54]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [55]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [56]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [57]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [58]:
b = "Hello, World!"
print(b[2:5])

llo

In [59]:
b = "Hello, World!"
print(b[:5])

Hello

In [60]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [61]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [62]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [63]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [64]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [65]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [66]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [67]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [68]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [69]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [70]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [71]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [72]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [73]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [74]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [75]:
txt = "We are the so-called \"Vikings\" from the north."

In [76]:
txt = f"The price is 49 dollars"
print(txt)

The price is 49 dollars

In [77]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [78]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [81]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

In [82]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [83]:
price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 73.75 dollars

In [84]:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

In [85]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [86]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [87]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [88]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [91]:
txt = "The price is {:.2f} dollars"

In [92]:
print(txt.format(price, itemno, count))

NameError: name 'itemno' is not defined

In [93]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [94]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [95]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [96]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.